@{
    Layout = null;
    var favIcon = Url.Content("~/Content/Images/favicon.ico");
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Deals</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <meta name="description" content="Game Deals" />
    <link rel="icon" href="@favIcon" />
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand">
                    <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                        <img alt="Brand" src="@favIcon">
                    </a>
                </div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" data-bind="foreach: menuItems">
                    <li>
                        <a data-bind="click: $root.menuClick">
                            <span data-bind="text: name"></span>
                            <span class="badge" data-bind="text: newPosts, visible: newPosts" style="margin-top: -2px;"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        
        <br />

        <div id="content">

        </div>

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Game Deals</p>
        </footer>
    </div>

    <div data-bind="visible: loading" class="spinner" id="loading-indicator">
        <img src="@Url.Content("~/Content/Images/loading.gif")" class="spinner-element" />
    </div>

    @Scripts.Render("~/bundles/GameDeals")

</body>
</html>
