@{
    var favIcon = Url.Content("~/Content/Images/favicon.ico");
    var apiBaseUrl = Html.Action("ApiBaseUrl");
    var appBaseUrl = Html.Raw(HttpUtility.JavaScriptStringEncode(new Uri(
        new Uri(this.Context.Request.Url.GetLeftPart(UriPartial.Authority)), 
        Url.Content("~/")).ToString(), true));
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Deals</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script type="text/javascript">
        window.applicationBaseUrl = @appBaseUrl;
    </script>

    <meta name="description" content="Game Deals" />
    <link rel="icon" href="@favIcon" />
</head>
<body>

    @RenderBody()

    <span style="display: none;" id="api-base-url">@apiBaseUrl</span>

</body>
</html>
